@using Microsoft.AspNet.Identity
@using NTU_FYP_REBUILD_17.Models
@model NTU_FYP_REBUILD_17.ViewModels.ManageGuardiansViewModel
@{
    ViewBag.Title = "Manage Patient";
    Layout = "~/Views/Shared/_LayoutGuardian.cshtml";

}
@{
    int i = 0;
    int ID = 0;
}





@using (Html.BeginForm("ManageGuardianLikes", "Guardian"))
{
    <span style="color:red">@ViewBag.Error</span>
    foreach (var item in Model.patientList)
    {
        <table class="table">
            <tr>
                <td><b>MANAGE LIKES</b></td>
            </tr>
            <tr>
                <td>Patient Information - @item.firstName @item.lastName @item.nric </td>
            </tr>
            <tr>
                <td><img src="@Model.albumPathList[i]" width="200px" /></td>
            </tr>
            <tr>
                <td><b>Like Item</b></td>
                <td><b>Approved Status</b></td>
                <td> </td>
            </tr>
            @for (int j = 0; j < Model.likeList.Count(); j++)
            {
                if (@Model.likeList[j].likeID == i - (i * 2 + 1))
                {
                    for (int k = j + 1; k < Model.likeList.Count(); k++)
                    {
                        if (Model.likeList[k].likeID == (i + 1) - ((i + 1) * 2 + 1))
                        {
                            break;
                        }
                        else
                        {
                            <tr>
                                <td>@Model.likeList[k].likeItem</td>
                                @if (@Model.likeList[k].isApproved == 1)
                                {
                                    <td>
                                        Approved
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        Pending Approval
                                    </td>
                                }

                                <td>
                                    @{ID = Model.likeList[k].likeID;
                                        string result1 = "Delete" + "/" + ID + "/" + i + "/" + item.patientID;
                                    }
                                    <button name="index" id="@ID" class="btn btn-primary" type="submit" value="@result1" onclick="return confirm('Confirm your decision.')">Delete</button>
                                </td>
                            </tr>
                        }
                    }
                }
            }
            <tr>
                <td>
                    Like Item	:
                    @Html.DropDownListFor(model => model.likeList[i].likeItem, new SelectList(ViewBag.LikeItem), "Select a new like item", new { @class = "myclass" })
                </td>
            </tr>
            <tr>
                <td>
                    Others :
                    @Html.TextBoxFor(Model => Model.OthersTextBox[i])
                </td>
            </tr>
            <tr>
                <td>
                    @{ID = item.patientID;
                        string result2 = "Create" + "/" + ID + "/" + i;
                    }
                    <button name="index" id="@ID" class="btn btn-primary" type="submit" value="@result2" onclick="return confirm('Confirm your decision.')">Create</button>
                </td>
            </tr>
        </table>
        i++;
    }

}

<script>


</script>


<link href="~/Content/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<script src="~/Content/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/global/scripts/datatable.js" type="text/javascript"></script>
<script src="~/Content/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="~/Content/pages/scripts/table-datatables-responsive.min.js" type="text/javascript"></script>


